$primaryColor: #b9dde7;
$titleFont: 'Oswald', sans-serif;
$bodyTextFont: 'cabin', sans-serif;
$buttonColor: #f38d8d;
.wrapper {
    max-width:1300px;
    margin:0 auto;
}
@mixin fontSize($sizeValue){
    font-size:$sizeValue * 1px;
    font-size:($sizeValue / 10) * 1rem;
}

@mixin bodyText($fontColor){
    @include fontSize(20);
    font:$bodyTextFont;
    color:$fontColor;
    text-align: left;
    line-height: 32px;

}

@mixin textTitles($fontFamily){
    font-family:$fontFamily;
    text-transform: uppercase;
    font-weight:bold;
}

@mixin buttonStyles($font){
    @include fontSize(20);
    @include linkStyle(none);
    font-family: $titleFont;
    text-transform: uppercase;
    background:$buttonColor;
    color:black;
    font-weight:bold;
    text-align:center;
    display:block;
    width:30%;
    padding: 10px 0;
    cursor: pointer;

}

@mixin linkStyle($underline){
    text-decoration: $underline;
    color:black;
    transition: color .3s;
    &:hover {
        color:white;
    }
}

img {
    max-width:100%;
    display:block;
    border:.3px solid grey;
}


// .about-me-section {
//     border: 2px solid limegreen;
// }

// .content {
//     border:2px solid red;
// }

// .page-break {
//     border:2px solid limegreen;

// }
// .page-break_image{
//     border:2px solid red;
// }

// .picture-info {
//     border:2px solid black;
// }

// .picture-content {
//     border:2px solid red;
// }

// .picture-content__picture {
//     border:2px solid green;
// }

// .picture-content__content {
//     border:2px solid yellow;
// }