.header__blog {
    background:#b9dde7;
}
.background-picture__picture--full-width{
    width:100%;
}
.background-picture__title {
    @include textTitles($titleFont);
    @include fontSize(80);
    transform:translateY(-55%)
}

.background-picture__title--left {
    margin:0;
}
.main__background--white-shade {
    background: #f6f6f6;
}
