html {
  font-size: 62.5%; }

img {
  display: block;
  max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.about-me-section {
  border: 2px solid limegreen; }

.content {
  border: 2px solid red; }

.page-break {
  border: 2px solid limegreen; }

.page-break_image {
  border: 2px solid red; }

.header {
  background: #b9dde7;
  height: 750px; }

.menu__group {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .menu__group .menu__item__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold; }
    .menu__group .menu__item__link:hover {
      color: white; }
  .menu__group .menu__item {
    list-style-type: none;
    padding: 3rem 3rem; }
  .menu__group .menu__item--home,
  .menu__group .menu__item--about {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .menu__group .menu__item__link--title {
    font-size: 42px;
    font-size: 4.2rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'oswald'; }
  .menu__group .menu__item:first-child {
    padding: 1rem 3rem; }

.hero-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero-content__image--home-image-1 {
  -webkit-box-shadow: 15px 15px 0 white;
  box-shadow: 15px 15px 0 white; }

.hero-content__title {
  margin: auto;
  font-size: 80px;
  font-size: 8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.hero-content__title--large {
  margin: auto; }

.hero-content__icon {
  position: absolute;
  top: -12px;
  right: -3rem;
  font-size: 100rem;
  width: 27%;
  -webkit-transform: rotate(-32deg);
  -ms-transform: rotate(-32deg);
  transform: rotate(-32deg); }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }
